@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100,200,300,400,500,600,700&family=Montserrat:wght@100,200,300,400,500,600,700&display=swap');



.container-wrapper {
    background-color: rgba(188, 244, 110, 0.5);
}



.hero-container {
  height: 100vh;
  background: url("../images/heroleaf.jpg") no-repeat bottom right
  fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 15%;
  padding-bottom: 5%;
}

@media (max-width: 767px) {
    .hero-container {
        height: 100vh;
        background: url("../images/heroleaf.jpg") no-repeat bottom right
        scroll;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        padding-top: 15%;
        padding-bottom: 5%;
    }
    

}



.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}


.block-divider {
  width: 200px;
  height: 5px;
  border: 0;
  background-color: #FFAA00;
}

.block-divider--orange {
  background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
  width: 35px;
}

.content-container {
    padding-top: 5%;
    padding-bottom: 5%;
}



.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background-color: #589500;
  display: flex;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.nav-link {
    font-family: 'josefin sans', sans-serif;
    font-weight: 500;
    font-size: 120%;
    font-style: normal;
    color: #000000;
}

.nav-link:hover {
    border-bottom: 2px solid #FFAA00;
    font-family: 'josefin sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    font-style: normal;
    color: #000000;
}


.navbar .navbar-toggler {
    border: 0;
}






button span i {
    font-size: 200%;
    color: #000000;
}

.jumbotron {
  background-color: rgba(188, 244, 110, 0.8);
  border-radius: 162px;
  width: 70%;
  margin-bottom: 0;
}

.jumbotron2 {
  background-color: rgba(188, 244, 110, 0.9);
  border-radius: 162px;
  width: 100%;
  margin-bottom: 0;
}

.jumbotron3 {
  background-color: rgba(188, 244, 110, 0.9);
  border-radius: 162px;
  width: 100%;
  margin-bottom: 0;
}

.jumbotron-header {
  color: #000000;
  font-weight: bold;
  font-family: 'josefin sans', sans-serif;
  margin-bottom: 2%;
}

@media (max-width: 767px) {
    .jumbotron-header {
        font-size: 180%;
    }
    .block-divider {
        width: 100px;
    }
    .lead {
        font-size: 90%;
    }
    .service-text {
        font-size: 50%;
    }
    

}

.jumbotron .lead {
  margin: 25px 0;
  color: #000000;
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
}



.btn--cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn--red {
  color: #000000;
  font-family: 'montserrat', sans-serif;
  background-color: #FFAA00;
  border-color: #FFAA00;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
  background-color: #df4929;
  border-color: #df4929;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

.service-link {
    color: #589500;
    text-decoration: none;
}

.service-link:hover {
    text-decoration: none;
    color: #FFAA00;
}



.service-text {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-size: 150%;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.review-pic {
    width: 20%;
    height: 20%;
    margin: auto;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.review-heading {
    color: #000000;
    font-family: 'josefin sans', sans-serif;
    font-size: 30px;
}

.review-body {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    margin-top: 40px;
}

.carousel-indicators li {
    background-color: #FFAA00;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 5px solid #FFAA00;
  background-image: none;
}



.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #000000
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #000000
}



.footer {
    background: #589500;
    padding: 20px 0px;
    color: #000000;
}

.footer h1 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #FFAA00;
}

.website {
    letter-spacing: 2px;
    font-size: 20px;
}

.footer ul li {
    margin: 5px 0px;
}

.social-links a:hover {
    color: #FFAA00;
}

.social-links li a {
  color: #000000;
  font-size: 250%;
}






.company-name1 {
border-bottom: 2px solid #FFAA00;
font-family: 'josefin sans', sans-serif;
font-weight: 700;
font-size: 40px;
font-style: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-left: 0;
}

.company-name2 {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 0;
    margin-left: 0;
}


